.userInput {
	height: 75%;
	width: 100%;
	min-height: 45vh;
}

.center {
	text-align: center;
}

body {
	padding-top: 70px;
}

ul {
	list-style-type: none !important;
}

.dataCol {
	overflow: scroll;
	border: 2px solid black;
	position: relative;
	min-height: 30em;
	max-height: 30em;
}