.userInput {
	height: 75%;
	width: 100%;
	min-height: 45vh;
}

.center {
	text-align: center;
}

body {
	padding-top: 70px;
}

ul {
	list-style-type: none !important;
	text-align: left;
}

.dataCol {
	overflow: scroll;
	border: 2px solid black;
	position: relative;
	min-height: 30em;
	max-height: 30em;
}

.bar {
	fill: blue;
	opacity: .6;
}

.bar:hover {
	opacity: 1;
}

.typeSpeech {
	font-size: 2em;
	font-weight: bold;
}